.footer{
  background-color: rgb(176, 196, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #30c0e4 1px;
}
.footer h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
}
